{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    h1,
    td,
    th {
        text-align: center;
        font-family: 'Dosis', sans-serif;
        color: #545454;
    }

    .table {
        margin-top: 60px;

    }

    textarea {
        padding: 15px;
        height: 100px;
        margin-left: 20px;
    }
    
</style>

<hr>


<body>
    <h1>Your Cart</h1>
    <a style="text-decoration: underline;color:#79634a; text-align: center; font-family: 'Dosis', sans-serif; padding-top: 40px;"
        href="/shop"><i class="fa fa-arrow-left" aria-hidden="true"></i>Continue shopping<span></span></a>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for order_item in object.items.all %}
                <tr>
                    <td>{{ order_item.item.title }}
                        <br>
                        
                    </td>

                    <td>{{ order_item.item.price }} RF</td>
                    <td>
                        <a href="{% url 'remove-single-item' order_item.item.id %}" class=" fas fa-minus mr-2" style="color:#545454;"></a>
                        {{ order_item.quantity }}
                        <a href="{% url 'add-to-cart' order_item.item.id %}" class=" fas fa-plus ml-2" style="color:#545454;"></a> 
                    </td>
                    <!-- <td>{{ order_item.quantity }}</td> -->
                    <td>{{ order_item.get_total_item_price }} RF

                        <a href="{% url 'remove-from-cart' order_item.item.id %}" style="color: #545454;"><i class="fa fa-trash float-right" aria-hidden="true"></i> </a>
                    </td>
                </tr>
               
                {% empty %}
                <tr>
                    <td colspan="5" style="font-size: 20px;">Your cart is empty</td>
                </tr>
            
                {% endfor %}
            </tbody>

        </table>
        <hr>

        <div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                <div class="content">
                    <div class="input-group">
                        <p style="margin-left: 20px;font-family: 'Questrial', sans-serif; font-size: 15px;">Add a note
                            to your order</p>

                    </div>
                    <textarea></textarea>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" style="padding-top: 40px;">
                {% if object.get_total %}
                <div class="update-box"
                    style="text-align: center;font-family: 'Questrial', sans-serif; ;letter-spacing: 1.5px;">
                    <p>Order Total <span style="margin-left: 80px;">{{ object.get_total }} RF</span></p>
                    <hr>
                    
                    <p style="font-size:13px;letter-spacing: 1.5px;color: #545454;">Taxes and <a
                            href="{% url 'shippingpolicy' %}"><span style="color:#000;text-decoration: underline;">
                                shipping</span></a> calculated at checkout</p>
                    <!-- <button class="btn btn-outline-dark" style="font-family: 'Dosis', sans-serif;">UPDATE</button> -->
                    <a href="{% url 'checkout' %}" class="btn btn-dark"
                        style="background-color:#545454;font-family: 'Dosis', sans-serif; margin:20px">PROCEED TO CHECK
                        OUT</a>
                        {% endif %}
                </div>
            </div>
        </div>

    </div>
</body>


{% endblock content %}